<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBA9zodH8OAmGxyOX-B1CpCa3xEkVRwXDU</string>
	<key>GCM_SENDER_ID</key>
	<string>339387929183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ddd-ios2.Bangawo</string>
	<key>PROJECT_ID</key>
	<string>bangawo</string>
	<key>STORAGE_BUCKET</key>
	<string>bangawo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339387929183:ios:b104f7dc400505afa181ea</string>
</dict>
</plist>
